{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}Home{% endblock %}

{% block content %}
<section class="position-relative text-left py-5">
    <div class="container">
        <h1 class="fw-bold">Hey there👋 I'm Bibek Shah </h1>
        <h2 class="text-muted"> Backend Developer </h2>
        <a href="{% static 'docs/Bibek_Shah_CV.pdf' %}" class="btn btn-primary mt-3" target="_blank">Download Resume</a>
        <img src="{% static 'images/Bibek shah.jpg' %}" alt="Bibek Image" class="top-right-img img-fluid mt-3 rounded-circle hover-effect">
    </div>
</section>

<style>
   .fw-bold {
    color: red;
    font-size: 40px;
   }

    /* Make the image circular */
.top-right-img {
    width: 400px; /* Adjust size as needed */
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect - Scale up slightly */
.top-right-img:hover {
    transform: scale(1.1);
}

</style>


{% endblock %}
