{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="ets">
                        <h5 class="card-title">Expenses Tracker System Web App | <a href="https://github.com/Bibekshah123/Expense_Tracker_System">LINK</a> </h5>
                        </div>
                        <p class="card-text">The Expenses Tracker System web app was developed using PHP for server-side functionality and MySQL
                            for efficient database management, ensuring systematic recording and retrieval of expense data.
                            This project successfully enabled users to track and analyze their expenses on a daily, monthly, and yearly
                            basis, providing valuable insights into their spending habits and promoting better financial management.</p>                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="ads">
                        <h5 class="card-title">Accident Dataset Analysis and Visualization | <a href="https://github.com/Bibekshah123/Accident_dataset_Analysis/tree/main/Accident_dataset_Analysis">LINK</a></h5>
                        </div>
                        <p class="card-text">Conducted a comprehensive analysis of accident data using R, employing statistical methods and data
                            visualization techniques to uncover patterns and trends.
                            This project provided critical insights into accident data, contributing to strategies aimed at improving road
                            safety and reducing the occurrence of accidents.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="tcc">
                        <h5 class="card-title">Telecom Customer Churn Visualization | <a href="https://github.com/Bibekshah123/Telecom_Customer_Churn/tree/main/Bibek_shah_23189619">LINK</a></h5>
                        </div>
                        <p class="card-text">Conducted customer churn prediction on a telecommunication dataset using data visualization techniques to
                            identify patterns and behaviors influencing customer churn.
                            This project uncovered specific trends that enabled the company to develop targeted retention strategies,
                            reducing churn and improving overall profitability.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="vgs">
                        <h5 class="card-title">Video Game Sales Prediction | <a href="https://github.com/Bibekshah123/Video_Game_Sales_Prediction/blob/main/vg-sales-prediction.ipynb">LINK</a>  </h5>
                        </div>
                        <p class="card-text">Developed a machine learning model to predict video game sales using regression algorithms, applying cross-
                            validation and SHAP for interpretability.
                            Identified the most accurate model after rigorous evaluation, optimized performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="hms">
                        <h5 class="card-title">Hospital Management System | <a href="https://github.com/Bibekshah123/Hospital_Management_System/tree/main/Hospital_Management_System">LINK</a> </h5>
                        </div>
                        <p class="card-text">Developed a Hospital Management System using Python, incorporating libraries for data processing and GUI
                            development to efficiently manage patient records, doctor schedules, and appointment bookings.
                            This project delivered a user-friendly interface that streamlined hospital operations, enhancing record
                            management and optimizing appointment scheduling.</p>
                    </div>
                </div>
            </div>

            <style>

                .ets,
                .ads,
                .tcc,
                .vgs,
                .hms {
                    color: black;
                    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
                }
            
                .ets:hover,
                .ads:hover,
                .tcc:hover,
                .vgs:hover,
                .hms:hover {
                    color: red; /* Change color on hover */
                }
            </style>
</section>

{% endblock %}
